body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0d0d0d;
}

p {
    font-size: 24px;
    padding: 10px 0 0 10px;
    min-height: 150px;
    /* adds the two line space like inthe image */
    padding-bottom: 20px;
    /* Extra space inside the div */
    margin-bottom: 20px;
    /* Extra space between divs */
}

img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #ffffff;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
    /*line height? is this spaced text??? double check */

}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border: none;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
}

/*contrasting for blue */
.blue h1,
.blue h2,
.blue p {
    color: #C4C4C4;
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
}

.yellow p {
    color: #707070;
}

.green {
    background-color: #00D800;
    text-align: left;
    margin-right: 50px;
    border: none;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
}

footer {
    background: linear-gradient(to right, #000000, #0000FF 25%, #06f 70%, #000000);
    border: 5px solid #ffffff;
    padding: 20px;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}